type: "SNIPPET_NOTE"
folder: "52f7a89aa941701f1c18"
title: "Send depth data to stringstream"
description: "Send depth data to stringstream"
snippets: [
  {
    name: ""
    mode: "text"
    content: '''
      //depthString is a stringstream where all kinect depth information is stored
      if (depthIndex%50 == 0) {
      		depthString << to_string(depthBuffer[depthIndex]) << ",";
      }
      
      //The following snippet is to insert the depth values into stringstream	
      if (depthIndex%50 == 0) {
      		depthString << to_string(depthBuffer[depthIndex]) << ",";
      }
      
      // An example to chain the strings together to send through OSC
      string tempString = "";
      tempString = to_string(circleDetected[0]) + "," + to_string(circleDetected[1]) + "," + to_string(rangeWidth) + "," + to_string
      
      char *toSendText = new char[tempString.size() + 1];
      	std::strcpy(toSendText, tempString.c_str());
      	transmitSocket.Send(toSendText, strlen(toSendText) + 1);
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T10:01:40.037Z"
updatedAt: "2017-11-19T10:01:49.674Z"
