type: "MARKDOWN_NOTE"
folder: "2f65dec1aaf783be9b69"
title: "Welcome to Boostnote!"
content: '''
  # Welcome to Boostnote! 
  ### _Click to edit this note._
  
  ---
  
  Boostnote is an *open source* note-taking app. 
  Repository is published on [GitHub](https://github.com/BoostIO/Boostnote), and tweeting everyday on [@Boostnoteapp](https://twitter.com/boostnoteapp)!
  
  ## Features 
  - [x] No internet or registration required. 
  - [ ] Quick search and copy the content of note. macOS: <kbd>Cmd</kbd> + <kbd>Alt</kbd> + <kbd>S</kbd> / windows: <kbd>Ctrl</kbd> + <kbd>Alt</kbd> + <kbd>S</kbd> 
  - [ ] Markdown & Snippet note. 
  - [ ] Available for `vim` and `emacs` mode. 
  - [ ] Choose your favorite theme on UI, Editor and Code Block! 
  --- 
  
  - Copy Codeblock on Markdown Preview.
  ```javascript
  var boostnote = document.getElementById('enjoy').innerHTML
  
  console.log(boostnote)
  ```
'''
tags: []
isStarred: false
isTrashed: true
createdAt: "2017-11-19T09:42:05.421Z"
updatedAt: "2017-11-19T09:42:07.936Z"
