type: "SNIPPET_NOTE"
folder: "67ffeea8d0c924e35c48"
title: "Print out cell info of google spreadsheet"
description: "Print out cell info of google spreadsheet"
snippets: [
  {
    name: ""
    mode: "text"
    content: '''
      // Print the cell's address in A1 notation
      System.out.print(cell.getTitle().getPlainText() + "\\t");
      Print the cell's address in R1C1 notation
      System.out.print(cell.getId().substring(cell.getId().lastIndexOf('/') + 1) + "\\t");
      // Print the cell's formula or text value
      System.out.print(cell.getCell().getInputValue() + "\\t");
      // Print the cell's calculated value if the cell's value is numeric
      // Prints empty string if cell's value is not numeric
      System.out.print(cell.getCell().getNumericValue() + "\\t");
      // Print the cell's displayed value (useful if the cell has a formula)
      System.out.println(cell.getCell().getValue() + "\\t");
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-19T10:56:53.734Z"
updatedAt: "2017-11-19T10:57:12.244Z"
