type: "SNIPPET_NOTE"
folder: "da4693d7ad2ea2038215"
title: "Helper function to display text in the center of a contour"
description: "Helper function to display text in the center of a contour"
snippets: [
  {
    name: ""
    mode: "text"
    content: '''
      /**
      * Helper function to display text in the center of a contour
      */
      void Kinect::setLabel(cv::Mat& im, const std::string label, std::vector<Point>& contour)
      {
      	int fontface = cv::FONT_HERSHEY_SIMPLEX;
      	double scale = 0.4;
      	int thickness = 1;
      	int baseline = 0;
      
      	cv::Size text = cv::getTextSize(label, fontface, scale, thickness, &baseline);
      	cv::Rect r = cv::boundingRect(contour);
      
      	cv::Point pt(r.x + ((r.width - text.width) / 2), r.y + ((r.height + text.height) / 2));
      	cv::rectangle(im, pt + cv::Point(0, baseline), pt + cv::Point(text.width, -text.height), CV_RGB(255, 255, 255), CV_FILLED);
      	cv::putText(im, label, pt, fontface, scale, CV_RGB(0, 0, 0), thickness, 8);
      }
      
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-25T14:20:13.434Z"
updatedAt: "2017-11-25T14:20:19.604Z"
