type: "SNIPPET_NOTE"
folder: "0a9f35eade47f6b5b756"
title: "convert bstr to str"
description: "convert bstr to str"
snippets: [
  {
    name: ""
    mode: "text"
    content: '''
      std::string Kinect::bstr_to_str(BSTR source) {
      	//source = L"lol2inside";
      	_bstr_t wrapped_bstr = _bstr_t(source);
      	int length = wrapped_bstr.length();
      	char* char_array = new char[length];
      	strcpy_s(char_array, length + 1, wrapped_bstr);
      	return char_array;
      }
      
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-25T14:22:11.251Z"
updatedAt: "2017-11-25T14:22:20.057Z"
