type: "SNIPPET_NOTE"
folder: "e76fca19ace6c60d4076"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
createdAt: "2018-02-08T06:40:20.200Z"
updatedAt: "2018-02-08T06:40:28.319Z"
