type: "MARKDOWN_NOTE"
folder: "3e3264c3fe1bf2f3700a"
title: "https://github.com/mehcode/rn-splash-screen"
content: "https://github.com/mehcode/rn-splash-screen"
tags: [
  "react-native"
  "fcm"
  "splashscreen"
]
isStarred: false
isTrashed: false
createdAt: "2018-02-06T13:29:14.471Z"
updatedAt: "2018-02-06T13:29:34.323Z"
